.ui-page {
    background: #000;
    background-image: url(../res/space.jpg);
    background-size: cover;
    background-position: center;
}

.header {
    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
}

.content {
    text-align: center;
}

.content p {
    color: #fff;
}

#facts p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

#done p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

#done b {
    color: #ff0000;
}
